@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1b0f17;
  --primary-color: #cd1486;
}

body {
  background: linear-gradient(
    to bottom,
    var(--background-color),
    #4b0931,
    var(--background-color),
    var(--background-color)
  );
  color: white;
  font-family: "Poppins";
}

div.allComponents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin: 20px;
}

h1 {
  font-size: 20px;
  margin: -10px;
}

iframe {
  width: 300px;
  height: 80px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

div.imageDirection {
  display: flex;
  gap: 20px;
}

img#main-image {
  height: 500px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  border: 1.5px solid var(--primary-color);
}

p#counter {
  width: 380px;
}

button:active {
  transform: scale(1.2);
}

hr.row {
  width: 350px;
  border-color: var(--primary-color);
}

p#text-main {
  width: 350px;
  text-align: justify;
}

span#phrase {
  text-align: center;
  margin: -10px 0px -5px 0px;
}

footer {
  margin: 20px;
}
